*{
    background: #1e1e1e;
	margin: 0%;
	padding: 0%;
    height: 100%;
    width: 100%;
}



.content-tools{
    margin-top: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardTool{
    color: white;
    text-shadow: -1px 17px 11px #6090ff;
    font-style: normal;
    font-family: cursive;
    width: 350px;
    height:75px;
    border:solid;
    border-color: rgb(126, 126, 126);
    border-width:1px;
    margin:15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 7px #172667;
    cursor: pointer;
    transition: 0.2s;
}

.cardTool:hover{
    box-shadow: 0px 0px 50px 7px #172667;
    font-size: 15px;
}