*{
	width: auto;
	height: auto;
}

input {
	background: linear-gradient(#303b60, black) !important;
	color: white !important;
	height: 15px;
	width: 200px;
}
.body-header{
	width:100%;
}

.content-body  {
	
    flex-direction: column;
    align-items: center;
}

.body-mid{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: calc( 100vh - 30px );
    width: 100%;
    overflow-y: auto;
}

.input-condition {
	margin-top: 32px;
	display: flex;
}

.input-condition label {
	font-size: xx-large;
	font-family: cursive;
	color: white;
}

.input-condition input {
	padding: 7px;
	font-family: cursive;
	border-radius: 12px;
	border-color: blanchedalmond;
	background: linear-gradient(#c6cfff, white);
}

.btn-intro-data {
	background: linear-gradient(#848484, #535353);
	padding: 10px;
	border-radius: 15px;
	margin-top: 27px;
	border: none;
	font-size: larger;
	font-family: cursive;
	color: white;
	cursor: pointer;
	width: 217px;
    height: 55px;
}

.input-variables {
	background: linear-gradient(#c6cfff, white);
	padding: 7px;
}

.variables-conteiner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.row-restrictions {
	display: grid;
	justify-items: center;
	align-items: center;
}

.column-restrictions {
	display: flex;
	align-items: center;
}

.column-restrictions p {
	color: white;
}

.conteiner-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.startProcedure {
	background: linear-gradient(#6d6da8, #313160);
	color: white;
	padding: 15px;
	margin: 12px;
	border-radius: 15px;
	cursor: pointer;
	font-style: normal;
	font-family: cursive;
	font-size: 17px;
}

table {
    color: white;
    margin: auto;
    margin-top: 20px;
    table-layout: fixed;
    width: 315px;
}

table tr th {
	border: 1px solid gray;
	padding: 3px;
}

table tr td {
    border: 1px solid gray;
    padding: 3px;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
	.input-condition{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}